html {
    scroll-behavior: smooth;
    background-color: black;
    text-align: center;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

#footer {
    height: 20px;
    background-color: white;
}

.announcement {
    background-color: #337ab7;
    width: 100%;
    height: 30px;
}

#marqueeStyle {
    width: 100%;
    direction: right;
    height: 100px;
    color: beige;
    font-size: 120%;
}

#bigText {
    width: 100%;
    height: 500px;
    border: none;
    background-color: blue;
}

h1 {
    color: white;
    font-size:xx-large;
    text-align: center;
    padding: 250px;
}

h4 {
    font-size: large;
    color: cornflowerblue;
}

.bodyContact, .bodyServices, .bodyAlumni{
    background-color: rgb(29, 77, 77);
    color: lightcoral;
    font-size: large;
}

#services, #alumni, #contactUs{
    color: lightyellow;
}

h6{
    font-size: large;
}
